h1 {
  text-align: center;
  color: white;
  background-color: rgb(11, 124, 124);
  /* margin: 0 auto; */
  padding: 0.2em;
}

body {
  background-color: ivory;
}
/* header  */
.header {
  color: rgb(11, 124, 124);
  font-weight: bold;
  width: 100%;
  margin: 0, auto;
  max-width: 100%;
}

/*  row in  header */
.row {
  margin: 0 auto;
  padding: 0.3rem;
  /* align-items: center; */
  display: flex;
  justify-content: center;
}
.container {
  margin-right: 3em;
  margin-bottom: 0.5em;
}
.input-text {
  padding: 0.5rem;
  width: 80%;
  border-radius: 0.6em;
}

.algo-button-section {
  width: 50%;
  margin: auto;
  padding: 1em;
}
.button {
  padding: 0.5em;
  color: white;
  margin-right: 3.5%;
  background-color: rgb(11, 124, 124);
  border-radius: 0.6em;
}
/* .button:focus {
  background-color: rgb(149, 223, 194);
} */
/* header end */

.algo-animation-container {
  width: 80%;
  height: 350px;
  margin: 0 auto;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
}

/* generated block style */
.block {
  width: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(9, 95, 95);
  color: rgb(9, 95, 95);
  font-weight: bold;
  display: inline-block;
  transition: 0.2s all ease;
}
/* block label style -for shown numbers above block */
.block_id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .input-text {
    max-width: 40%;
  }
}
